@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(40px) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
.prev {
  padding-top: 10px;
  font-size: 20px;
}

.restaurant-img {
  width: 100%;
  height: 350px;
  position: relative;
}

main {
  display: flex;
  flex-direction: column;
}

.main-content {
  background-color: #f6f6f6;
  width: 100%;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  margin-top: -85px;
  z-index: 1;
}
.main-content .main-header {
  display: flex;
  justify-content: space-between;
  padding: 40px 25px 20px;
}
.main-content h1 {
  font-family: "Shrikhand", serif;
  font-size: 25px;
  font-weight: 100;
}
.main-content .heart-icon {
  padding-top: 10px;
}
.main-content .fill-heart {
  position: relative;
  left: 20px;
  opacity: 0;
}
.main-content .fill-heart:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.8s ease-in;
  background: -moz-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-content .content {
  margin-top: 25px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.main-content .content p {
  font-size: 15px;
  font-weight: 300;
}
.main-content .content .line {
  width: 40px;
  border-bottom: 4px solid #99e2d0;
}
.main-content .content .card {
  width: 100%;
  display: flex;
  background: white;
  margin-top: 8px;
  border-radius: 15px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.1), -2px -2px 10px 0px rgba(0, 0, 0, 0.1);
}
.main-content .content .card:hover .card-main {
  width: 90%;
  transition: 1s;
}
.main-content .content .card:hover .check-div {
  width: 10%;
  transition: 1s;
}
.main-content .content .card .card-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.main-content .content h2 {
  font-size: 20px;
  font-weight: 800;
}
.main-content .content .ingredient {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 8px;
}
.main-content .content .check-div {
  width: 0;
  background: #99e2d0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.main-content .content .circle-check {
  color: #99e2d0;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  padding: 3px;
}

.starters {
  animation: fade-up 0.5s;
}

.mains {
  animation: fade-up 1s;
}

.desserts {
  animation: fade-up 1.5s;
}

.button {
  margin: 25px 80px;
  width: 200px;
  height: 50px;
  border-radius: 75px 73px 71px 71px;
  box-shadow: 5px 5px 7px 0px rgba(204, 204, 204, 0.75);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  color: white;
  font-weight: 500;
}
.button:hover {
  cursor: pointer;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

@media (min-width: 992px) {
  header {
    padding: 10px 30px;
  }
  header .logo {
    font-size: 30px;
  }
  .restaurant-img {
    object-fit: cover;
    height: 370px;
  }
  .prev {
    font-size: 30px;
  }
  .main-content {
    top: 400px;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 17px 0px;
  }
  .main-content .main-header {
    justify-content: center;
    gap: 40px;
    padding-top: 20px;
  }
  .main-content .content {
    width: 75%;
  }
  .main-content .content .card {
    justify-content: unset;
    width: 100%;
  }
  .main-content .content .card-main {
    width: 95%;
  }
  .main-content .content .ingredient {
    justify-content: space-between;
  }
}