@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
  background-color: white;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: fade;
  opacity: 0;
  visibility: hidden;
}

.loading-spinner:after {
  content: "";
  width: 150px;
  height: 150px;
  margin: auto;
  line-height: 150px;
  border-radius: 50%;
  font-size: 15px;
  background-color: white;
  text-align: center;
  border: 15px solid #9356dc;
  border-top: 15px solid #ff79da;
  opacity: 1;
  visibility: visible;
  animation: spin 3s linear infinite;
}

.location-section {
  height: 50px;
  background-color: #eaeaea;
}
.location-section .location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 15px;
}
.location-section .location h2 {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 16px;
}

.explore-section {
  background-color: #f6f6f6;
}
.explore-section .explore-content {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
  align-items: center;
  gap: 35px;
}
.explore-section p {
  text-align: center;
  font-weight: 100;
  font-size: 18px;
}
.explore-section .explore-button {
  width: 200px;
  height: 50px;
  border-radius: 75px 73px 71px 71px;
  box-shadow: 5px 5px 7px 0px rgba(204, 204, 204, 0.75);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  border: none;
  color: white;
  font-weight: 500;
}
.explore-section .explore-button:hover {
  cursor: pointer;
  background: linear-gradient(200.64deg, #9356dc -5.2%, #ff79da 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.works {
  padding-top: 25px;
}
.works h1 {
  font-weight: 700;
  font-size: 24px;
  padding-left: 25px;
}
.works .how-it-works {
  padding-top: 32px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  justify-content: center;
}
.works p {
  font-weight: 500;
  font-size: 16px;
}
.works .how-it-works-button {
  border-radius: 20px;
  box-shadow: 5px 5px 7px 0px rgba(204, 204, 204, 0.75);
  background: #f6f6f6;
  width: 75%;
  height: 70px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
  gap: 25px;
}
.works .grey-icon {
  color: #7e7e7e;
}
.works .store-icon {
  color: #9356dc;
}
.works .number-1::before {
  content: "1";
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  position: relative;
  color: #f6f6f6;
}
.works .number-2::before {
  content: "2";
  height: 35px;
  width: 35px;
  border-radius: 50px;
  background: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  position: relative;
  color: #f6f6f6;
}
.works .number-3::before {
  content: "3";
  height: 35px;
  width: 47px;
  border-radius: 50px;
  background: #9356dc;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 20px;
  position: relative;
  color: #f6f6f6;
}

.restaurants-section {
  padding: 25px 5px;
  background: #f6f6f6;
}
.restaurants-section h1 {
  padding-left: 18px;
  font-size: 24px;
  font-weight: 700;
}
.restaurants-section .cards-section {
  padding-top: 15px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.restaurants-section .restaurants-cards {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-radius: 25px;
  background-color: white;
  width: 90%;
  position: relative;
}
.restaurants-section .card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restaurants-section .new-card {
  height: 25px;
  width: 70px;
  position: absolute;
  right: 10px;
  top: 10px;
  background: #99e2d0;
  color: #008766;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
}
.restaurants-section .card-text {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}
.restaurants-section h2 {
  font-weight: 700;
  font-size: 18px;
}
.restaurants-section p {
  font-weight: 300;
  font-size: 16px;
}
.restaurants-section .fill-heart {
  position: relative;
  left: 20px;
  opacity: 0;
}
.restaurants-section .fill-heart:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.8s ease-in;
  background: -moz-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background: -webkit-linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 992px) {
  .works {
    padding: 5% 12%;
  }
  .works p {
    font-size: 14px;
  }
  .works .how-it-works {
    flex-direction: row;
    gap: 25px;
  }
  .works .how-it-works-button {
    width: 27%;
    gap: 15px;
  }
  .restaurants-section {
    padding: 5% 12%;
  }
  .restaurants-section h1 {
    padding-left: 7px;
  }
  .restaurants-section .cards-section {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    padding-top: 30px;
    justify-content: space-between;
  }
  .restaurants-section .restaurants-cards {
    width: 45%;
  }
}