@import "./variables";

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
@keyframes fade {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loading-spinner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: end;
  background-color: white;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: fade;
  opacity: 0;
  visibility: hidden;
}

.loading-spinner:after {
  content: "";
  width: 150px;
  height: 150px;
  margin: auto;
  line-height: 150px;
  border-radius: 50%;
  font-size: 15px;
  background-color: white;
  text-align: center;
  border: 15px solid #9356dc;
  border-top: 15px solid #ff79da;
  opacity: 1;
  visibility: visible;
  animation: spin 3s linear infinite;
}

.location-section {
  height: 50px;

  background-color: $location-background-color;

  .location {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-top: 15px;
    h2 {
      font-family: "Roboto", serif;
      font-weight: 500;
      font-size: 16px;
    }
  }
}
.explore-section {
  background-color: $background-color;

  .explore-content {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    align-items: center;
    gap: 35px;
  }
  p {
    text-align: center;
    font-weight: 100;
    font-size: 18px;
  }
  .explore-button {
    width: 200px;
    height: 50px;
    border-radius: 75px 73px 71px 71px;
    box-shadow: 5px 5px 7px 0px rgba(204, 204, 204, 0.75);
    background: $explore-button-color;
    border: none;
    color: white;
    font-weight: 500;

    &:hover {
      cursor: pointer;
      background: $hover-color;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
    }
  }
}
.works {
  padding-top: 25px;
  h1 {
    font-weight: 700;
    font-size: 24px;
    padding-left: 25px;
  }
  .how-it-works {
    padding-top: 32px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 35px;
    align-items: center;
    justify-content: center;
  }

  p {
    font-weight: 500;
    font-size: 16px;
  }
  .how-it-works-button {
    border-radius: 20px;
    box-shadow: 5px 5px 7px 0px rgba(204, 204, 204, 0.75);
    background: $background-color;
    width: 75%;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    gap: 25px;
  }
  .grey-icon {
    color: #7e7e7e;
  }
  .store-icon {
    color: $purple-icon;
  }
  .number-1::before {
    content: "1";
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background: $purple-icon;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    position: relative;
    color: $background-color;
  }
  .number-2::before {
    content: "2";
    height: 35px;
    width: 35px;
    border-radius: 50px;
    background: $purple-icon;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    position: relative;
    color: $background-color;
  }
  .number-3::before {
    content: "3";
    height: 35px;
    width: 47px;
    border-radius: 50px;
    background: $purple-icon;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    position: relative;
    color: $background-color;
  }
}
.restaurants-section {
  padding: 25px 5px;
  background: $background-color;
  h1 {
    padding-left: 18px;
    font-size: 24px;
    font-weight: 700;
  }

  .cards-section {
    padding-top: 15px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }

  .restaurants-cards {
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 25px;
    background-color: white;
    width: 90%;
    position: relative;
  }
  .card-img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .new-card {
    height: 25px;
    width: 70px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: $new-card-color;
    color: $new-card-font-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 500;
    border: none;
  }
  .card-text {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
  }
  h2 {
    font-weight: 700;
    font-size: 18px;
  }
  p {
    font-weight: 300;
    font-size: 16px;
  }

  .fill-heart {
    position: relative;
    left: 20px;
    opacity: 0;
  }
  .fill-heart:hover {
    cursor: pointer;
    opacity: 1;
    transition: 0.8s ease-in;
    background: -moz-linear-gradient(
      193.33deg,
      #9356dc -11.44%,
      #ff79da 123.93%
    );
    background: -webkit-linear-gradient(
      193.33deg,
      #9356dc -11.44%,
      #ff79da 123.93%
    );
    background: linear-gradient(193.33deg, #9356dc -11.44%, #ff79da 123.93%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@media (min-width: 992px) {
  .works {
    padding: 5% 12%;
    p {
      font-size: 14px;
    }
    .how-it-works {
      flex-direction: row;
      gap: 25px;
    }
    .how-it-works-button {
      width: 27%;
      gap: 15px;
    }
  }
  .restaurants-section {
    padding: 5% 12%;
    h1 {
      padding-left: 7px;
    }
    .cards-section {
      flex-direction: row;
      flex-wrap: wrap;
      gap: 40px;
      padding-top: 30px;
      justify-content: space-between;
    }
    .restaurants-cards {
      width: 45%;
    }
  }
}
